body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.Heading{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.images{
    position: relative;
    left: 10px;
}

.options{
    padding: 30px;

}
.but{
    margin-top:25px;
    margin-right:10px;
    height: 30px;
    border: none;
    background-color: white;
    font-size:15px;
    

}
.search{
    width: 400px;
    height: 30px;
    position:relative;
    top:22px;
   
}
.Profile{
    padding-top: 8px;
    padding-left: 20px;
    

}

.Pro{
     margin-top:20px;
    margin-right:10px;
}
.middle{
    background-color: rgb(246, 246, 241);
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}
.card{
    background-color: rgb(3, 10, 148);
    color: white;
  
    justify-content: center;
}

.foot{
    margin-top:35px;
}